<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <bean id="springBasicCircle" class="com.example.spring.basicbeans.SpringBasicCircle" />
    
    <bean id="springBasicTriangle" class="com.example.spring.basicbeans.SpringBasicTriangle" />
    
    <bean id="drawingOfCircle" class="com.example.spring.basicbeans.SpringShapeDrawing">
        <constructor-arg ref="springBasicCircle"></constructor-arg>
    </bean>
    
    <bean id="drawingOfTriangle" class="com.example.spring.basicbeans.SpringShapeDrawing">
        <constructor-arg ref="springBasicTriangle"></constructor-arg>
    </bean>

</beans>
